{% macro button(type='neutral', text='Button', button_type='button') %}
    {% set types = {
        'neutral': {
            'base': 'inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide text-neutral-500 bg-neutral-50 hover:text-neutral-600 hover:bg-neutral-100 focus:ring-2 focus:ring-offset-2 focus:ring-neutral-100',
        },
        'blue': {
            'base': 'inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide text-blue-500 bg-blue-50 hover:text-blue-600 hover:bg-blue-100 focus:ring-2 focus:ring-offset-2 focus:ring-blue-100',
        },
        'red': {
            'base': 'inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide text-red-500 bg-red-50 hover:text-red-600 hover:bg-red-100 focus:ring-2 focus:ring-offset-2 focus:ring-red-100',
        },
        'green': {
            'base': 'inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide text-green-500 bg-green-50 hover:text-green-600 hover:bg-green-100 focus:ring-2 focus:ring-offset-2 focus:ring-green-100',
        },
        'yellow': {
            'base': 'inline-flex items-center justify-center px-4 py-2 text-sm font-medium tracking-wide text-yellow-600 bg-yellow-50 hover:text-yellow-700 hover:bg-yellow-100 focus:ring-2 focus:ring-offset-2 focus:ring-yellow-100',
        }
    } %}
    <button type="{{ button_type }}" class="{{ types[type]['base'] }} rounded-md transition-colors duration-100">
        {{ text }}
    </button>
{% endmacro %}

